.listWrapper {
  display: flex;
  flex-direction: row;
  border: 0.5px solid;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 5%;
  /* text-align: left; */
}

.imageWrapper {
  /* margin-left: 5px; */
  /* border: 0.5px solid; */
  border-top: 0.5px solid #a5a5a5;
  border-bottom: 0.5px solid #a5a5a5;
  box-shadow: 0.2px 0.5px #f3f3f3;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.card {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 1px #9b9393;
  padding: 1%;

  /* flex-direction: row; */
  /* justify-content: space-around; */

  border: 0.5px solid #e8e5e5;
  border-radius: 5px;
  margin: 15px;
}
.cardTitle {
  padding: 5px;
  margin-left: 3%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 100%;
  font-weight: bold;
  /* margin-left: 5px; */
}

.cardDescription {
  padding: 5px;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 80%;
  color: #3b3b3b;
}

.cardFooter {
  border-top: 0.5px solid #9b9393;
  padding: 5%;
  display: flex;
  flex-flow: column;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: nowrap; */

  font-size: 90%;
}

div input {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .listWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 1px #9b9393;
    padding: 1%;

    /* flex-direction: row; */
    /* justify-content: space-around; */

    border: 0.5px solid #e8e5e5;
    border-radius: 5px;
    margin: 15px;
  }
}
